RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<FilesMatch "^(\.env|composer\.json|database\.sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteCond %{REQUEST_URI} ^/api
RewriteRule ^api/(.*)$ api/$1 [L]
